fastapi[standart]
uvicorn[standard]
sqlmodel
psycopg2-binary
alembic
python-dotenv
psycopg2-binary
routeros-api == 0.8.0
pydantic-settings
requests
pydantic[email]
python-multipart
multipart
passlib[bcrypt] 
pyjwt
PyJWT[crypto]
CinetPay
python-jose[cryptography]